<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WebJudge - Voting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Includes for Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- vue dev -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>

<body>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-8 offset-md-2">
                <h1>Voting</h1>
                <a href="main.html">To main page</a>
                <div id="app">
                    <div class="container" id="studentSites">
                        <template v-for="site in sites">
                            <div class="row mb-1">
                                <div class="col">{{site.id}}</div>
                                <div class="col"><a v-bind:href="site.websiteLink" target="_blank">View Site</a></div>
                                <div class="col"><button class="btn" v-on:click="setVote('1',site.id)">Vote #1</button></div>
                                <div class="col"><button class="btn" v-on:click="setVote('2',site.id)">Vote #2</button></div>
                                <div class="col"><button class="btn" v-on:click="setVote('3',site.id)">Vote #3</button></div>
                            </div>
                        </template>
                    </div>
                    <div class="row">
                        <form method="POST" action="/uploadVote" id="voting">
                            <h3>Current Votes:</h3>
                            <div class="form-row">

                                <div class="form-group col">
                                    <label for="first">First Pick:</label>
                                    <input type="text" name="first" id="first" class="form-control" readonly v-model="first">
                                </div>
                                <div class="form-group col">
                                    <label for="second">Second Pick:</label>
                                    <input type="text" name="second" id="second" class="form-control" readonly v-model="second">
                                </div>
                                <div class="form-group col">
                                    <label for="third">Third Pick:</label>
                                    <input type="text" name="third" id="third" class="form-control" readonly v-model="third">
                                </div>


                            </div>
                            <div class="form-row">
                                <button type="submit" class="btn btn-block">Submit Vote</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>



</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            sites: [{ id: 'sdfdsds', websiteLink: 'google.com' },
            { id: 'asad', websiteLink: 'google.com' },
            { id: 'fsdf', websiteLink: 'google.com' }],
            first: '',
            second: '',
            third: ''
        },
        methods: {
            setVote: function (num, id) {
                switch (num) {
                    case '1':
                        this.first = id;
                        break;
                    case '2':
                        this.second = id;
                        break;
                    case '3':
                        this.third = id;
                        break;
                }
            }
        }
    })
</script>

</html>